body {
  font-family: "Noto Sans Thai", sans-serif;
  margin: 0;
  padding: 0;
  background: #E6F2EF;
  color: #2E2E2E;
  font-size: 18px;
}
body h1, body h2 {
  text-align: center;
}
body h1 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 8px;
}
body h2 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0px;
}
body button, body .button {
  font-family: inherit;
  color: rgb(194.6802325581, 232.3197674419, 224.5988372093);
  background-color: #2F7D6D;
  border: none;
  padding: 8px 8px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
}
body button:hover, body .button:hover {
  background-color: rgb(53.9680232558, 143.5319767442, 125.1598837209);
  color: rgb(157.6162790698, 218.3837209302, 205.9186046512);
}

body #container {
  max-width: 500px;
  min-height: 600px;
  position: relative;
  margin: 10px 10px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
body #container.loader {
  background-image: url("../image/loader04.png");
  background-position: top 10px right 10px;
  background-repeat: no-repeat;
}
body #container.lost div#info-lost {
  display: block;
}
body #container.not-found div#info-notfound {
  display: block;
}
body #container.ready div.footer {
  position: relative;
}
body.lang-en h1 {
  font-size: 19px;
}
body.lang-en div.footer div.caution {
  font-size: 14px;
}
body.lang-en div.footer div.notice {
  font-size: 11px;
  line-height: 16px;
}
body.lang-en div.footer div.disclaimer {
  font-size: 13px;
}
body.expire div.item .value.expired {
  animation: expirePulse 1.8s ease-in-out infinite;
  color: #b33939 !important;
}
body form label {
  display: block;
  margin-top: 8px;
  font-weight: 500;
}
body form input, body form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: 16px;
  appearance: none;
  width: 100%;
  padding: 10px;
  margin-top: 2px;
  border-radius: 10px;
  border: 1px solid rgb(196.4473684211, 224.5526315789, 217.5263157895);
  box-sizing: border-box;
  position: relative;
  opacity: 80%;
  z-index: 5;
}
body form input:focus-visible, body form input:focus, body form select:focus-visible, body form select:focus {
  border: 1px solid #2F7D6D;
  outline: 1px solid #2F7D6D;
}
body form .card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  margin-top: 20px;
  position: relative;
}
body form .card h2 {
  margin-top: 0px;
}
body label.sw-lang {
  --w: 56px;
  --h: 28px;
  display: inline-block;
  position: absolute;
}
body label.sw-lang .sw-lang-input {
  position: absolute;
  inset: 0;
  width: auto;
  height: auto;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}
body label.sw-lang .sw-lang-track {
  width: var(--w);
  height: var(--h);
  background: #E6F2EF;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.03);
  border-radius: calc(var(--h) / 2);
  padding: 3px;
  display: flex;
  align-items: center;
  transition: background 0.18s ease;
}
body label.sw-lang .sw-lang-knob {
  width: calc(var(--h) - 4px);
  height: calc(var(--h) - 4px);
  background: white;
  border-radius: 40%;
  transform: translateX(4px);
  transition: transform 0.18s cubic-bezier(0.2, 0.9, 0.2, 1), box-shadow 0.12s;
  box-shadow: 0 3px 8px rgba(34, 48, 68, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #2E2E2E;
}
body label.sw-lang .sw-lang-input:checked + .sw-lang-track {
  background: rgba(47, 125, 109, 0.3);
}
body label.sw-lang .sw-lang-input:checked + .sw-lang-track .sw-lang-knob {
  transform: translateX(28px);
}
body label.sw-lang .sw-lang-input:focus-visible + .sw-lang-track {
  box-shadow: 0 0 0 4px rgba(32, 129, 226, 0.12);
}
body label.sw-lang .sw-lang-knob .abbr {
  pointer-events: none;
  font-family: inherit;
  font-weight: 600;
  font-size: inherit;
}
body div.logo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 180px;
}
body div.logo img {
  max-width: 100%;
  height: 170px;
}
body div.info {
  gap: 10px;
  text-align: center;
}
body div.info div.error {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #b33939;
}
body div.info div.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 6px 0;
  padding-left: 5px;
  height: 30px;
  line-height: 30px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
body div.info div.item .label {
  font-weight: 600;
  line-height: inherit;
  color: #2E2E2E;
}
body div.info div.item .value {
  text-align: right;
  line-height: inherit;
  padding: 0px 7px;
  border-radius: 6px;
}
body div.info div.item .value a {
  text-decoration: none;
  color: white;
}
body div.info div.item .value.phone {
  background-color: #2F7D6D;
}
body div.info div.item .value.phone a {
  padding-left: 30px;
  background-image: url("../image/ico-phone.png");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 0px 50%;
  border-radius: 10px;
}
body div.info div.item .value.phone:hover {
  background-color: rgb(53.9680232558, 143.5319767442, 125.1598837209);
}
body div.info div.item .value.expired {
  font-weight: 600;
  color: #C98A00;
}
body div.info div.item.remark {
  text-align: left;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
}
body div.info div.item.remark .value {
  text-align: left;
  white-space: pre-line;
  max-height: 180px;
  overflow-y: scroll;
}
body div.info div.item[class*=vehicle-type-] {
  padding: 0px 0px;
  padding-left: 5px;
  height: 45px;
  line-height: 45px;
}
body div.info div.item[class*=vehicle-type-] label {
  height: 45px;
}
body div.info div.item[class*=vehicle-type-] .value {
  position: absolute;
  right: 0px;
  top: -6px;
  height: 56px;
  line-height: 56px;
  padding-left: 59px;
  background-size: 56px;
  background-repeat: no-repeat;
  background-position: 0px center;
}
body div.info div.item.vehicle-type-car1 .value {
  background-image: url("../image/vehicle-type-car06.png");
}
body div.info div.item.vehicle-type-car2 .value {
  background-image: url("../image/vehicle-type-car02.png");
}
body div.info div.item.vehicle-type-bike1 .value {
  background-image: url("../image/vehicle-type-bike01.png");
}
body div.info#info-lost {
  background-image: url("../image/info-lost.png");
  background-position: top 0px center;
  background-repeat: no-repeat;
  background-size: 150px;
  padding-top: 130px;
  display: none;
}
body div.info#info-notfound {
  background-image: url("../image/info-notfound.png");
  background-position: top 0px center;
  background-repeat: no-repeat;
  background-size: 150px;
  padding-top: 130px;
  display: none;
}
body div#frm-regist {
  display: none;
}
body div#frm-regist div.field-vehicle {
  display: none;
  position: relative;
}
body div#frm-regist div.field-vehicle h2 {
  text-align: left;
  margin: 0px 0px;
  position: relative;
  z-index: 5;
}
body div#frm-regist div.field-vehicle label {
  position: relative;
  z-index: 5;
}
body div#frm-regist div.field-vehicle div {
  background-position: top 8px right 12px;
  background-size: 76px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 90%;
  z-index: 1;
  border-radius: 20px;
}
body div#frm-regist.vehicle-type-car div.field-vehicle {
  display: block;
}
body div#frm-regist.vehicle-type-car div.field-vehicle div {
  background-image: url("../image/vehicle-type-car06.png");
}
body div#frm-regist.vehicle-type-car div.field-vehicle:nth-of-type(2) {
  display: none;
}
body div#frm-regist.vehicle-type-car div.field-vehicle:nth-of-type(2) div {
  background-image: url("../image/vehicle-type-car02.png");
}
body div#frm-regist.vehicle-type-bike div.field-vehicle {
  display: block;
}
body div#frm-regist.vehicle-type-bike div.field-vehicle:nth-of-type(2) {
  display: none;
}
body div#frm-regist.vehicle-type-bike div.field-vehicle div {
  background-image: url("../image/vehicle-type-bike01.png");
}
body div#frm-regist label#field-owner-zone {
  display: none;
}
body div.footer {
  position: absolute;
  margin-top: 30px;
  bottom: 10px;
  left: 0px;
  right: 0px;
  padding: 0px 10px;
  text-align: center;
}
body div.footer div.caution {
  display: none;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  padding: 10px 10px;
  margin-bottom: 5px;
  color: #b33939;
  border: solid #2F7D6D 1px;
  border-radius: 10px;
}
body div.footer div.disclaimer {
  margin-top: 20px;
  text-align: center;
  padding: 5px 10px;
  color: rgb(97.2153846154, 114.6923076923, 115.7846153846);
  font-size: 14px;
}
body div.footer div.notice {
  margin: 10px 0px;
  text-align: center;
  font-size: 12px;
  color: rgb(97.2153846154, 114.6923076923, 115.7846153846);
}
body div.footer div.version {
  color: rgb(97.2153846154, 114.6923076923, 115.7846153846);
  margin: 12px 0px;
  font-size: 13px;
}

@keyframes expirePulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
